
@import url("H_header.css");
@import url("H_mainCommon.css");
main{
    min-width: 840px;
}
.contents{
    min-width: 840px;
}
#con{
    margin: 10px;
}
.mcards{
    margin: 0;
    width: auto;
    flex: 0 0 auto;
    background: #f3f3f3;
    border: 2px solid #ffffff; 
    
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
input{
	height: 1.5em;
    width: 100px;
}
p{
	line-height: 1em;
}
/* .mdata{
    height: 1.5em;
    width: 40px;
    flex: 0 0 auto;
}
.mdata20{
    height: 1.5em;
    width: 20px;
    flex: 0 0 auto;
} */
table{
	margin-top: 5px;
	width: 405px;
}
th{
	width: 32px;
	font-weight: normal;
	background: rgba(97,83,78, 0.6);
}
td{
	width: 121px;
	background: rgba(97,83,78, 0.6);
}